:root {
  --main-color: #1093f3;
}
body {
  padding: 0 !important;
  /* overflow: auto !important;   */
  box-sizing: border-box !important;
  /* width: 100vw !important; */
  background-color: #f0f2f5 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-moz-selection {
  background-color: #31fd81;
  color: #002333;
}

::selection {
  background-color: #31fd81;
  color: #002333;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#f0f2f5);
  border-radius: 6px;
  transition: all 0.2s linear;
}

*:focus {
  outline: none !important;
}
/* // container top */
.ctn_top {
  margin-top: 50px;
}
.mb_20 {
  margin-bottom: 20px !important;
}
.p_20 {
  padding: 20px !important;
}
.pb_40 {
  padding-bottom: 40px !important;
}
.p_50 {
  padding: 50px !important;
}
.t_20 {
  margin-top: 20px !important;
}

@media (max-width: 990px) {
  .ctn_top {
    margin-top: 30px;
  }
}

/* .container_shadow{
    
} */

.main-content {
  background-color: #fff;
  min-height: 100vh;
  /* border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; */
  /* border-top-left-radius: 10px !important; */
  /* background-image: url('/src/assets/images/dot.png'); */
  background-repeat: no-repeat;
  margin-bottom: 0px;
  padding: 18px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px !important;
}

.Sec-Tlt {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}

.Sec-Tlt .Sec-Tlt_text {
  position: relative;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
}
.Sec-Tlt span {
  position: absolute;
  height: 10px;
  width: 100%;
  opacity: 0.4;
  left: 0;
  background-color: var(--main-color);
  top: 11px;
  cursor: pointer !important;
  border-radius: 3px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #21242b;
  height: 100vh !important;
}

/* progress bar */
.progressMain {
  position: sticky;
  background-color: #21242b;
  height: 15px;
}
.MuiLinearProgress-barColorPrimary {
  background-color: var(--main-color) !important;
}
/* chat mess */
.plugin > svg {
  width: 40px !important;
}
