.avatar{
    height: 174px !important;
    width: 174px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer;
    border: 5px solid  rgb(209, 208, 208) !important;
    position: relative !important;
    z-index: 999 !important ;
}

.avatar_boder{
    height: 174px !important;
    width: 174px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer;
    border: 5px solid  rgb(209, 208, 208);
    transition:  4s all ease-in;
    position: relative !important;
    z-index: 999 !important ;
    
}
.ImagePf {
    position: relative;
    top: 10%;
    left: 10%;
}

.Diablog-ctn{
    background-color: transparent; 
}

.Diablog-ctn .MuiPaper-root {
   
    background-color: #111111 !important;
} 

/* top story */
.Top-Story{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    
}
.Title-Story{
    height: 45px !important;
    background: #ffffff !important;
    
}
.Top-Story_avatar{
    position: relative;
    /* right: 4%; */
    border: 2px solid #ffffff;
    z-index: 9999;
}
.Story_status{
    width: 100;
}

.Story_name{
    font-size: 18px !important;
    color: rgb(31, 30, 30);
    position: relative;
    /* right: 5%; */
    font-weight: 550 !important;
    margin-left: 8px !important;
}

.Story_time{
    font-size: 12px !important;
    margin-left: 16px !important;
    color: rgb(31, 30, 30);
    position: relative;
    right: -12%;
    margin-right: auto !important;
   
}

.Story_top_content{
    text-align: center;
    position: relative !important;
    color: var(--main-color);
    z-index: 9999 !important;
    top: 15px;
    background-color: black;
    /* border-radius: 5px; */
}
.WithStyles\(ForwardRef\(DialogContent\)\)-root-7{
    padding: 0 !important;
}

/* .Story_top_content::after{
    content: '';
    border-radius: 5px !important;
    border-bottom: 2px solid var(--main-color) im !important;
    position: absolute;
    background-color: var(--main-color) !important;
    top: 0;
    left: 11%;
    height: 26px;
    width: 80%;
    opacity: 0.9;
    z-index: -1;
} */

.Story_body_content{
    text-align: center;
    width: 100% !important;
    background-color: black;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

.Story_pause{
    color: #fff;
    font-size: 28px;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.close_Icon{
    color: var(--main-color)
}

.close_Icon:hover{
    color: rgb(13, 125, 218);
}

.admin_Story{
    color: var(--main-color);
    position: relative;
    left: -14%;
    font-weight: 600 !important;
    font-size: 12px !important;
    margin-left: auto !important;
}
/* top story */

/* body story */
.T{
    background: #cecece !important;
    color: #cccdcf;
    height: 460px;
    max-width: 440px;
    padding: 65px 0px !important;
    border-top: 1px solid white !important;
}

/* bottom story */
.Bottom_Story{
    height: 45px !important;
    background: #ffffff !important;
}

.Story_bottom{
    background-image: linear-gradient(45deg, #d94de0 0%, #2BD2FF 52%, #2BFF88 90%);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 550 !important;
    /* font-size: 14px !important; */

}
.icon-react{
    font-size: 24px !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    transition: transform .2s;
}

.icon-react .icon-react_like{
    color: var(--main-color);
    cursor: pointer;
}

.icon-react .icon-react_like:hover{
    transform: scale(1.2); 
}

.icon-react .icon-react_liked{
    color: var(--main-color);
    cursor: pointer;
}


.icon-react .icon-react_heart{
    cursor: pointer;
    color: #ec5990;
}

.icon-react .icon-react_heart:hover{
    transform: scale(1.2); 
}

.icon-react .icon-react_hearted{
    color: #ec5990 !important;
    cursor: pointer;
}

.Liked_count{
    font-size: 8px;
    position: absolute;
    top: 4px;
}

.icon-react_Text{
    position: relative !important;
    top: 3px;
}

.react-textLiked{
    position: relative !important;
    top: 3px;
    color: var(--main-color);
}

.react-textHearted{
    position: relative !important;
    top: 3px;
    color: #ec5990;
}

.Span_icon-react{
    width: 6px;
}
/* progress story */



/* responsive */


@media only screen and (max-width:420px) {
    .Story_name{
        font-size: 13px !important;
        width: 110px !important;
       
    }
    /* .admin_Story{
        font-size: 12px !important;
        left: -12%;
    } */
    .Story_time{
        font-size: 9px !important;
        /* right: 16px; */
        margin-left: auto !important;
        width: 96px;
        position: relative;
        left: 20px;
    }
    .close_Icon{
        position: relative !important;
        top: -18px;
        left: 18px;
    }
    .Top-Story_avatar{
        margin-left: -18px;
    } 
}

