.blog{
    
    width: 100%;
    border-radius: 5px;
    height: 100vh;
    transition: all .2s ease-in;
    opacity: 0.9; 
    
}
.btnbLog{
    margin: 0 auto !important;
    /* position: relative !important; */
    /* transform: translate(50%, -50%); */
    display: flex !important;
    justify-content: center !important;
    width: 20%;
    align-items: center;
    position: relative !important;
    top: 15%;
    background-color: springgreen !important;
    text-transform: unset !important;
    font-weight: 550 !important;
    z-index: 999 !important;
}

.btnbLogMusic {
    position: absolute !important;
    background-color: unset !important;
}

.tltBlog{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(200, 214, 207);
    font-size: 16px;
    position: relative;
    top: 14%;
    z-index: 99 !important;
}

.btnbLog:hover {
    /* background-color: #fff !important; */
    color: black;
    transition: all .2s ease-in-out;
}

.ArrowIcon{
    font-size: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.iCon{
    font-size: 35px !important;
    color: rgb(51, 50, 50) !important;
    background-color: unset !important;
}


/* // reponsive */

@media (max-width: 520px ){
    .ArrowIcon{
     
       font-size: 16px;
        margin-left: 5px;
    }
    .btnbLog{
        font-size: 12px !important;
        width: 35%;
    }
    .iCon{
        font-size: 35px !important;
    }
}
@media (max-width:410px){
     .ArrowIcon{
        font-weight: 550;
        font-size: 16px;
         margin-left: 5px;
     }
    .btnbLog{
        width: 35%;
        font-size: 11px !important;
        font-weight: 550 !important;
    }
     .iCon{
        font-size: 35px !important;
    }
}

@media (max-width:395px){
    .ArrowIcon{
       font-weight: 550;
       font-size: 16px;
        margin-left: 5px;
    }
   .btnbLog{
       width: 30%;
       font-size: 14px !important;
       font-weight: 550 !important;
   }
   .iCon{
    font-size: 35px !important;
    }
}

@media (max-width:375px){
    .ArrowIcon{
       font-weight: 550;
       font-size: 16px;
        margin-left: 5px;
    }
   .btnbLog{
       width: 40%;
       font-size: 14px !important;
       font-weight: 550 !important;
   }
   .iCon{
    font-size: 35px !important;
    }
}
@media (max-width:345px){
    .ArrowIcon{
       font-weight: 550;
       font-size: 16px;
        margin-left: 5px;
    }
   .btnbLog{
       width: 50%;
       font-size: 14px !important;
       font-weight: 550 !important;
   }
   .iCon{
    font-size: 35px !important;
    }
}

@media (max-width:320px){

    .ArrowIcon{
        font-weight: 550;
        font-size: 18px;
        margin-left: 5px;
     }
    .btnbLog{
        width: 45%;
        font-size: 14px !important;
        font-weight: 550 !important;
    }
    .iCon{
        font-size: 35px !important;
    }
}